/* -------------------------------------------------------------- 
   
   Basic WordPress Blog Styles   
     
-------------------------------------------------------------- */   


/* Images
-------------------------------------------------------------- */

.entry-content img, .page-content img {
	margin: 0 0 1.5rem 0;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
  	margin-right: 1.5rem;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
 	margin-left: 1.5rem;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	text-align: center;
	margin-bottom: 1.5rem;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	margin: 0;
}
.wp-smiley { 
	max-height: 1rem;
	margin:0 !important;
}
.gallery dl {
	margin: 0;
}
.gallery-caption {
	margin:-1.5rem 0 0 0;
}


/* Pullquotes
-------------------------------------------------------------- */

blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 1.5rem;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left: 1.5rem;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
/* Lists
-------------------------------------------------------------- */
.entry-content ul, .page-content ul {
	list-style:inside disc;
	margin:10px 0px 20px 0px;
}
.entry-content ol, .page-content ol {
	list-style:inside;
	list-style-type:decimal;
	margin:10px 0px 20px 0px;
}
/* Strong
-------------------------------------------------------------- */
strong{
	font-weight:bold;	
}
em{
	font-style:italic;	
}
/* P tags
-------------------------------------------------------------- */
.entry-content p, .page-content p{
	margin-bottom: 1.5rem;
}