/**
 * Sortable Posts Style
 * http://moveplugins.com
 */


.column-menu_order{
	width:0px;
}
.menu-order-drag-button {
	padding:6px 0px 6px 0px;
	position:absolute;
	left:3px;
	cursor:move!important;
	opacity:0;
}
.hentry:hover .menu-order-drag-button {
	opacity:1;
}
#posts-filter .check-column{
	padding-left:4px;	
}