/**
 * Metabox Style
 * http://mintplugins.com
 */
 
.mp_duplicate, .mp_duplicate_remove{
	margin:10px 5px 0px 0px!important; 
}
.mp_field{
	position:relative;
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 12px;
	margin:12px 0px 0px 0px;
}
.mp_field > label{
	margin:0px 0px 5px 0px!important;	
}
.mp_field > input[type=number]{
	width:60px;
}
.mp_field > input[type=range]{
	padding:0px;
}
.mp_field em{
	float: none;
	clear: both;
	display: block;	
}
.mp_field em > br:first-child{
	display: none;	
}
.mp_title{
	margin-bottom:5px;	
}
.mp_media_upload .custom_media_url,
.mp_media_upload .custom_media_upload{
	clear:right; 
	margin-bottom:10px;	
}
.custom_media_image{
	max-width:30px;
}
.repeater_container{
	padding:0;
	margin:10px 0px 0px 0px;
}
.repeater_container h3{
	overflow:hidden;	
}
.repeater_container li{
	border-color: #dfdfdf;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	height:35px;
}
.repeater_container li .mp_field{
	padding: 0px 12px 12px;
}
.mp_duplicate_buttons{
	padding:5px 5px 10px 5px;	
	width:220px;
}
.postbox .mp_required{
	background-color:#FFC8C8;	
}
.repeater_container .handlediv{
	margin:0px!important;
}
.mp_drag.hndle{
	height:19px;	
	padding:8px 12px!important;	
}
.mp_iconfontpicker_item, .mp-core-icon-picker-item-shortcode{
	float:left;
	display:inline-block;
	padding:15px;	
}
.mp_iconfontpicker_item>div, 
.mp-core-icon-picker-item-shortcode>div{
	font-size:30px;	
}
.mp-iconfontpicker-title{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;	
}
.mp_font_icon_thumbnail{
	display: inline-block;
	float: left;
	margin-right: 10px;
	font-size: 30px;
  	margin-left: 4px
}
.mp_core_help{
	float:left;	
	margin-right:20px;
}
.mp_core_help_type_oembed{
	max-width:500px;	
}
.mp_core_help_type_oembed .mp-core-oembed-full-width-div{
	border: 1px solid #D8D8D8;
	float:left;	
}
.mp_core_help_oembed:before,
.mp_core_help_video:before{
	content: "\f126";
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 0;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mp_core_help_document:before{
	content: "\f123";
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 0;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mp_core_help_directory:before{
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f106";	
}
.mp_core_showhider_button.closed:after,
.mp_core_showhider_button.open:after
{
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mp_core_showhider_button.closed:after{
	content: "\f140";	
}	
.mp_core_showhider_button.open:after{
	content: "\f142";	
}	
[showhider]{
	display:none;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #f2fafc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
	margin-top: 0px;
}
.repeater_container[showhider]{
	border-bottom: solid 1px #dfdfdf;	
}
.repeater_container [showhider]{
	border-left:none!important;
	border-right:none!important;
	padding-top:10px!important;
	background-color: transparent;
}
.repeater_container [showhider$="BBBBB"]{
	margin-right:10px;
	border-left: solid 1px #dfdfdf!important;
	border-right: solid 1px #dfdfdf!important;
	background-color: #f2fafc;
}
.repeater_container > * > *{
	margin-left:0px;
	margin-right:0px;
}
.mp-core-radio-button{
	float:left;
	display:inline-block;	
}
.mp_field textarea{
	max-width:100%;	
}
.mp_field .mp_input_100{
	width:100%;	
}

/*Show bubble above range inputs*/
output { 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 40px; 
  vertical-align: top;
  text-align: center; 
  color: white; 
  display: inline-block; 
  margin-left: 5px;
}

#TB_ajaxContent{
	width:100%!important;
	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;	
}
.repeatertitle{
	display:none!important;	
}
.mp-core-repeater-title{
	float:left;
	white-space: nowrap;
}
.mp-core-repeater-description{
	font-weight:normal;
	color:#888;
	float:right;
	margin: 3px 10px 0px 0px;
	font-size:11px;	
	white-space: nowrap;
}
.mp-core-repeater-values-description,
.mp-core-repeater-values-ellipses{
	font-weight:normal;
	color:#888;
	float:left;
	margin: 3px 0px 0px 5px;
	font-size:11px;	
	overflow:hidden;
	max-width:50%;
	height:15px;
	white-space: nowrap;
}
.mp-core-repeater-values-ellipses{
	margin-left:0px;	
}
.repeater_container > li:first-child .mp_animation_length{
	display:none!important;	
}

/*Hide Repeater Description if its on the right side */
#side-sortables .mp-core-repeater-values-description,
#side-sortables .mp-core-repeater-description{
	display:none;
}
.repeater_container .mp_field{
	margin-left:0px!important;	
}

/* Help Popup */
.mp-core-popup-help-icon{
	position:relative;
	display:inline;
	margin-left:10px;
	cursor: pointer;
	width:100%;
}
.mp-core-popup-help-icon:before{
	content: "\f223";	
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 0;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#CCC;
}
.mp-ajax-popup{
	position:absolute;
	width:400px;
	z-index:9999999999999;	
	visibility:hidden;
	opacity:0;
	float:left;
	display:block;
	
	background:#FFF;
	border: solid 1px #CCC;
	padding:20px;
	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	
	-webkit-box-shadow: 0px 0px 10px -2px rgba(222,222,222,1);
	-moz-box-shadow: 0px 0px 10px -2px rgba(222,222,222,1);
	box-shadow: 0px 0px 10px -2px rgba(222,222,222,1);
	
	cursor:default;
	
}
.mp-ajax-popup *{
	max-width:100%;	
}
@media all and (max-width: 600px) {
 .mp-ajax-popup{
	width:200px; 
 }
}
.mp-core-popup-help-float-left{
	float:left;
	margin-right:10px;
}
.mp-core-popup-help-float-right{
	float:right;
	margin-left:10px;
}
.mce-menubar{
	display:none!important;	
}

.mp-multiple-checkboxes-desc{
	margin-right:10px;	
}

.mp_field_hidden{
	display:none!important;	
}