/**
 * Settings Style
 * http://moveplugins.com
 */

.mp-core-green-light{
	display:inline-block;
	width:10px;
	height:10px;
	background-color:#00FF00;	
}

.mp-core-red-light{
	display:inline-block;
	width:10px;
	height:10px;
	background-color:#F00;	
}

/* Directory Styles */
.mp-core-directory-true-false-light{
	float:left;
	padding:1px 5px 0px 0px;	
}
.mp-core-directory-update-license-form{
	display:none;	
}
.mp-core-plugin-directory-license-wrap .mp-core-cirectory-license-input{
	width:100%;	
	margin-top:5px;
}
.available-theme{
	position:relative;
}
.mp-core-directory-price{
	position: absolute;
	top: 21px;
	left: 1px;
	background-color: rgba(0, 0, 0, 0.27);
	color: #fff;
	padding: 7px;
}
.mp-core-directory-buy{
	margin-top:10px;	
}
.mp-core-directory-license-msg{
	clear:left;
	margin:10px 0px 0px 0px;
	padding:0px;	
}
.mp-core-plugin-directory-license-wrap .submit{
	padding-top:5px;	
}