/**
 * Metabox Style
 * http://moveplugins.com
 */
 
.mp_duplicate, .mp_duplicate_remove{
	margin:10px 5px 0px 0px!important; 
}
.mp_field{
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 12px;
	margin:12px 0px 0px 0px;
}
.mp_field > label{
	margin:0px 0px 5px 0px!important;	
}
.mp_field > input[type=number]{
	width:60px;
}
.mp_title{
	margin-bottom:5px;	
}
.custom_media_url{
	margin-bottom:10px; 
	clear:right; 
}
.custom_media_image{
	max-width:30px;
}
.repeater_container{
	padding:0;
	margin:10px 0px 0px 0px;
}
.repeater_container li{
	border-color: #dfdfdf;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	height:35px;
}
.repeater_container li .mp_field{
	padding: 0px 12px 12px;
}
.mp_duplicate_buttons{
	padding:5px 5px 10px 5px;	
	width:220px;
}
.postbox .mp_required{
	background-color:#FFC8C8;	
}
.repeater_container .handlediv{
	margin:0px!important;
}
.mp_drag.hndle{
	padding:8px 12px!important;	
}
.mp_iconfontpicker_item{
	float:left;
	display:inline-block;
	padding:15px;	
}
.mp-iconfontpicker-title{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;	
}
.mp_font_icon_thumbnail{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.mp_core_help{
	float:left;	
	margin-right:20px;
}
.mp_core_help_oembed:before,
.mp_core_help_video:before{
	content: "\f126";
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 0;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mp_core_help_document:before{
	content: "\f123";
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	padding: 0 5px 0 0;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mp_core_help_directory:before{
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	left: -1px;
	position: relative;
	top: 0;
	text-decoration: none!important;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f106";	
}